@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Body */
body{
    background: #bdc3c7;
}

/* Navbar */
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #e74c3c;
    padding: 10px 200px;
}

nav .logo div{
    font-size: 1.4rem;
    text-align: center;
}

nav .logo div span{
    background: #e74c3c;
    padding: 4px;
    color: #ecf0f1;
}

nav .logo div:not(span){
    background: #ecf0f1;
    padding: 6px;
    color: #e74c3c;
}

nav .menu{
    width: 180px;
}

nav .menu ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu ul li{
    font-size: 1rem;
    text-align: center;
}

nav .menu ul li a {
    text-decoration: none;
    color: #fff;
}

/* Search */
.search{
    width: 100%;
    display: flex;
    padding: 20px;
}

.search input{
    height: 40px;
    width: 40%;
    min-width: 280px;
    margin: 0 auto;
    padding: 8px;
    outline: none;
    font-size: 1.2rem;
    border-radius: 5px;
    border-style: none;
}

/* Body */
.container{
    width: 100%;
    height: auto;
    padding: 10px;
}

/* User Info - Row1*/
.row1{
    width: 60%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row1 > div{
    padding: 0 30px;
}

.row1 .img{
    position: relative;
}

.row1 .img > *{
    display: block;
}

.row1 .img img{
    width: 200px;
    min-width: 180px;
    height: auto;
    border: #e74c3c 5px solid;
}

.row1 .img .hire{
    position: absolute;
    top: 5px;
    right: 35px;
    font-size: 0.7rem;
    background: #fff;
    padding: 4px;
}

.row1 .img a{
    text-decoration: none;
    color: #ecf0f1;
    background: #e74c3c;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.4s ease-in;
}

.row1 .img a:hover{
    background: #ecf0f1;
    color: #e74c3c;
}

.row1 .info{
    display: block;
}

.row1 .info > div:not(:nth-child(6)){
    height: 35px;
    background: #ecf0f1;
    margin-bottom: 5px;
    line-height: 35px;
    padding: 0 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

.row1 .info > div span{
    font-weight: normal;
}

.row1 .info .short{
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 0.6rem;
}

.row1 .info .short > *{
    padding: 5px;
    margin: 0 3px;
    border-radius: 10px;
}

.row1 .info .short div:nth-child(1){
    background: #f1c40f;
}

.row1 .info .short div:nth-child(2){
    background: #e84118;
}

.row1 .info .short div:nth-child(3){
    background: #44bd32;
}

.row1 .info .short div:nth-child(4){
    background: #e67e22;
}

/* User Info - Row2*/
.row2{
    width: 50%;
    margin: 0 auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row2 > div{
    width: 70%;
    min-width: 300px;
    text-align: center;
    background: #e74c3c;
    padding: 18px;
    margin-bottom: 20px;
    color: #fff;
}

.row2 h3{
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.row2 .meminfo p{
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

.row2 .meminfo p span{
    font-size: 0.9rem;
    font-weight: normal;
}

.row2 .repos{
    height: 190px;
    overflow: auto;
}

.row2 .rep{
    text-align: left;
    margin: 20px 0;
    background: #bdc3c7;
    padding: 20px;
    color: #e74c3c;
}

.row2 .rep p{
    font-size: 0.9rem;
    margin-bottom: 15px;
    margin-top: 5px;
}

.row2 .rep a{
    font-size: 0.9rem;
    background: #e74c3c;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.row2 .rep a:hover{
    background: #fff;
    color: #e74c3c;
}

/* Responsive */
@media(max-width: 900px){
    /* Navbar */
    nav{
        padding: 10px 60px;
    }
}

@media(max-width: 600px){
    /* Navbar */
    nav{
        display: block;
    }
    
    nav > div{
        width: 250px;
        margin: 0 auto;
        padding: 10px 0;
    }

}

@media(max-width: 420px){
    /* Navbar */
    nav{
        padding: 10px 20px;
    }
}